@model List<ProjectWebApp.Model.Airline>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Manage Airlines";

}

<section class="content">
    @if (TempData["Success"] != null)
    {
        <div class="success-alert">
            @TempData["Success"]
        </div>
    }
    <!-- Add + Refresh Buttons -->
    <div class="actions top-actions">
        <a href="/AdminAirlines/Create" class="btn primary">+ Add Airline</a>
        <a href="/AdminAirlines/Index" class="btn">Refresh</a>
    </div>

    <!-- Airline Table -->
    <div class="card">
        <div class="card-h">Airline List</div>

        <div class="card-b">
            <div class="table-scroll">
            <table class="table">
                <thead>
                    <tr>
                        <th>Airline Name</th>
                        <th>Code</th>
                        <th>Country</th>
                        <th>Status</th>
                        <th class="right">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var airline in Model)
                    {
                        <tr>
                            <td>
                                <img src="@airline.LogoUrl" width="40" height="40" style="border-radius:5px; margin-right:10px;" />
                                @airline.AirlineName
                            </td>


                            <td>@airline.Code</td>

                            <td>@airline.Country.CountryName</td>

                            <td>
                                @if (airline.StatusId == 1)
                                {
                                    <span class="badge ok">Active</span>
                                }
                                else
                                {
                                    <span class="badge danger">Inactive</span>
                                }
                            </td>


                            <td class="right">
                                <a href="/AdminAirlines/Edit/@airline.AirlineId" class="btn small">Edit</a>
                                @if (airline.StatusId == 1)
                                {
                                    <a href="/AdminAirlines/Deactivate/@airline.AirlineId" class="btn small danger">Deactivate</a>
                                }
                                else
                                {
                                    <a href="/AdminAirlines/Activate/@airline.AirlineId" class="btn small">Activate</a>
                                }
                            </td>
                        </tr>

                    }
                </tbody>

            </table>
            </div>
        </div>
    </div>

</section>

@section Styles {
    <link rel="stylesheet" href="~/css/admin-airlines.css" asp-append-version="true" />
}
